<div class="container edit-background">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6 m-auto">
      <div class="form-login">
        <h2><%= resource_name.to_s.humanize %> preferences</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <div class="radio">
              <% if resource.fuel_preference.present?%>
                <%= f.input :fuel_preference, as: :radio_buttons,
                          collection: User.fuel_preferences.keys.to_a,
                          required: true%>
              <% else %>
                <%= f.input :fuel_preference, as: :radio_buttons,
                          collection: User.fuel_preferences.keys.to_a,
                          checked: User.fuel_preferences.keys.to_a.first,
                          required: true%>
              <% end %>
            </div>
          </div >
          <div class="dropdown">
            <%= f.input :brand_preference, as: :select, collection: User.brand_preferences.keys, prompt:"Select your preferred brand"%>
          </div>
          <%= f.input :capacity,
                        label: "Tank capacity in litres",
                        required: true,
                        input_html: { autocomplete: "capacity", style: "width: 100px"} %>
          <div class="form-actions">
            <%= f.button :submit, "Update",
                        class:"btn btn-secondary"%>
          </div>
        <% end %>
        <div class="d-flex align-items-center">
          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-link" %>
        </div>
        <%= link_to "Back", :back , class: "btn btn-link"%>
      </div>
    </div>
  </div>
</div>
