<div class="bbl-main">
  <div class="bbl-top row d-flex justify-content-between <%= marker[:calcul][:per_fillup].positive? ? "bg-success" : "bg-warning" %> mx-1 rounded-start">
    <div class="bbl-price text-start col-8 d-flex flex-column justify-content-center align-items-start ps-3 pt-3">
      <h5 class="fw-bold"><%= marker[:user_preference][:fuel_name] %>: <%= marker[:user_preference][:fuel_price] %> € </h5>
      <p class="text-light">average: <%= marker[:user_preference][:preferred_fuel_average] %> € / L</p>
    </div>
    <div class="bbl-img col-4 p-2">
      <%= image_tag "fuelpump.png", style: "width: 60px; height: 60px;" %>
    </div>
    <div class="bbl-eco d-flex flex-column justify-content-around p-2">
      <div class="bbl-eco-info d-flex flex-row">
        <div class="bbl-eco-info-text col-8 text-end pe-2">
          <p class="text-light mb-0">Per fill-up <%= marker[:calcul][:per_fillup_text] %> </p>
          <h3 class="text-white mb-0"> <%= marker[:calcul][:per_fillup] %> € </h3>
          <p class="text-light mb-0">vs average</p>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
          <% if marker[:user_preference][:preferred_fuel_best_price] == marker[:user_preference][:fuel_price] %>
            <%= image_tag "emoji_happystars.png", style: "width: 30px; height: 30px;" %>
          <% elsif marker[:calcul][:per_fillup].positive? %>
            <%= image_tag "emoji_happy.png", style: "width: 30px; height: 30px;" %>
          <% else %>
            <%= image_tag "emoji_unhappy.png", style: "width: 30px; height: 30px;" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="bbl-down p-2 mx-1 rounded-end bg-light">
    <div class="bbl-station-info row d-flex justify-content-between">
      <div class="col-12 text-start">
        <p class="fw-bold"><%= marker[:name] %></p>
      </div>
      <!--TESTs CHECKS
      <div class="col-6 text-start">
        <p>Best price<%= marker[:user_preference][:preferred_fuel_best_price].to_s %> </p>
      </div>
      <div class="col-6 text-end">
        <p>Pref fuel price<%= marker[:user_preference][:fuel_price].to_s %></p>
      </div>
      TESTs CHECKS END-->
      <div class="col-6 text-start">
        <p><%= marker[:address] %> </p>
      </div>
      <div class="col-6 text-end">
        <p><%= marker[:city] %></p>
      </div>
      <div class="col-6 text-start pb-2">
        <p><%#= marker[:brand] %></p>
        <% case marker[:brand]
        when "Agip" %>
        <%= image_tag "brand_agip.png", style: "width: 70px; height: 70px;" %>
        <% when "Auchan" %>
        <%= image_tag "brand_auchan.png", style: "width: 70px; height: 70px;" %>
        <% when "Avia" %>
        <%= image_tag "brand_avia.png", style: "width: 70px; height: 70px;" %>
        <% when "BP" %>
        <%= image_tag "brand_bp.png", style: "width: 70px; height: 70px;" %>
        <% when "Casino" %>
        <%= image_tag "brand_casino.png", style: "width: 70px; height: 70px;" %>
        <% when "Elan" %>
        <%= image_tag "brand_elan.png", style: "width: 70px; height: 70px;" %>
        <% when "Esso Express" %>
        <%= image_tag "brand_esso_express.png", style: "width: 70px; height: 70px;" %>
        <% when "Esso" %>
        <%= image_tag "brand_esso.png", style: "width: 70px; height: 70px;" %>
        <% when "Intermarché" %>
        <%= image_tag "brand_intermarche.png", style: "width: 70px; height: 70px;" %>
        <% when "Intermarché Contact" %>
        <%= image_tag "brand_intermarche_contact.png", style: "width: 70px; height: 70px;" %>
        <% when "Shell" %>
        <%= image_tag "brand_shell.png", style: "width: 70px; height: 70px;" %>
        <% when "SystèmeU" %>
        <%= image_tag "brand_U.png", style: "width: 70px; height: 70px;" %>
        <% when "Total" %>
        <%= image_tag "brand_total.png", style: "width: 70px; height: 70px;" %>
        <% when "Géant" %>
        <%= image_tag "brand_geant.png", style: "width: 70px; height: 70px;" %>
        <% when "Carrefour Express" %>
        <%= image_tag "brand_carrefour_express.png", style: "width: 70px; height: 70px;" %>
        <% when "Carrefour" %>
        <%= image_tag "brand_carrefour.png", style: "width: 70px; height: 70px;" %>
        <% when "Carrefour Market" %>
        <%= image_tag "brand_carrefour_market.png", style: "width: 70px; height: 70px;" %>
        <% when "Leclerc" %>
        <%= image_tag "brand_leclerc.png", style: "width: 70px; height: 70px;" %>
        <% when "Indépendant sans enseigne" %>
        <%= image_tag "brand_indep.png", style: "width: 70px; height: 70px;" %>
      <% end %>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-end">
      <p>🚙 <%= marker[:dist] %> Km</p>
    </div>
  </div>
  <div>
    <%= link_to "GO!", "https://www.google.com/maps/dir/?api=1&destination=#{marker[:lat]},#{marker[:lng]}" , class:"btn btn-primary bg-gradient w-100 mb-1",target: :_blank %>
  </div>
  <!--
  <div>
    <button type="button" class="btn btn-secondary bg-gradient w-100">See All Prices</button>
  </div>
  -->
</div>
</div>
</div>
</div>
