<% markers.each do |m| %>
  <div class="card-product rounded-4 p-3" style="background-color:#DCDCDC; box-shadow: 2px 2px 2px grey">
    <!-- <img src="IMAGE URL" style="rounded-4"> -->
    <div class="card-product-infos">
      <p class="fs-6 fst-normal lh-1"><strong><%= m[:name] %></strong></p>
      <p class="fs-6 fst-normal lh-1"><strong><%= "#{m[:address]}, #{m[:city]}" %></strong></p>
      <% if m[:gazole] < 0.01%>
        <p class="fs-6 fst-normal lh-1"><strong> Gazole: <em><%= m[:gazole]*1000 %> €</em></strong></p>
      <% else %>
        <p class="fs-6 fst-normal lh-1"><strong> Gazole: <em><%= m[:gazole] %> €</em></strong></p>
      <%end%>
      <% if m[:sp98] != nil && m[:sp98] < 0.01%>
        <p class="fs-6 fst-normal lh-1"><strong> SP98: <em><%= m[:sp98]*1000 %> €</em></strong></p>
      <% else%>
        <p class="fs-6 fst-normal lh-1"><strong> SP98: <em><%= m[:sp98] %> €</em></strong></p>
      <%end%>
    </div>
  </div>
  <p></p>
<% end %>
<%# <% m "#{[:last_update]}"%>
